body {
  margin: 0;
  background: linear-gradient(to bottom right, #253453 0%, #4f4f4f 100%);
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container_content {
  display: flex;
}
.image_content img {
  height: 350px;
  border-radius: 30px 0 0 30px;
}
.description_content {
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 0px 30px 30px 0px;
  text-align: center;
  word-break: break-all;
}
.description_content h3 {
  font-family: "Aboreto", cursive;
}
.description_content h2,
h3 {
  padding-top: 20px;
  font-size: 18px;
}
.description_content p {
  padding: 7px;
  font-size: 10px;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
h2 {
  margin: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
}
.container_button {
  padding: 0px;
}
.style_button {
  padding: 10px;
  width: 140px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  background-color: #fff;
}
.style_button:hover {
  background-color: #000;
  color: #fff;
}
